@tailwind base;
@tailwind components;
@tailwind utilities;


.btn {
    @apply bg-gray-800 text-white font-bold py-2 px-4 rounded;
}
.btn--primary {
    @apply bg-orange-600 text-white font-bold py-2 px-4 rounded;
}

.btn--secondary {
    @apply bg-violet-500 text-white font-bold py-2 px-4 rounded;
}

.link--ext {
    @apply text-red-800 no-underline;
}

.link--ext::after {
    @apply inline-block align-middle text-green-500;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='none' stroke='rgba(0,0,0,.5)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' class='icon icon-tabler icon-tabler-external-link' viewBox='0 0 24 24'%3e%3cpath stroke='none' d='M0 0h24v24H0z'/%3e%3cpath d='M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5'/%3e%3cpath d='M10 14L20 4'/%3e%3cpath d='M15 4L20 4 20 9'/%3e%3c/svg%3e");
}

details summary svg {transform: rotate(90deg);}

details[open] summary svg {
    transform: rotate(-90deg);
}

details[open] summary ~ * {
    animation: ease-opacity-t-b .5s ease
}

summary svg {
    transition: all 0.3s;
}

summary::-webkit-details-marker {
    display: none;
}

.filament-tiptap-hurdle {
    @apply bg-pink-500 text-white -mx-56 my-12 px-8 py-1 text-xl
}
a.btn {
    @apply inline-block rounded-lg px-4 py-2 text-white bg-green-600 hover:bg-green-700;
}
a.btn.btn-secondary {
    @apply inline-block rounded-lg px-4 py-2 text-white bg-pink-600 hover:bg-pink-700;
}
@media (min-width: theme('screens.lg')) {
    .filament-tiptap-grid-builder[data-stack-at="sm"] {
        @apply grid grid-cols-4 gap-4 -mx-56 my-24 bg-pink-50 p-6
    }

    .filament-tiptap-grid {
        @apply grid grid-flow-col gap-4 -mx-56 my-24 bg-pink-50 p-6
    }

    .prose table {
        @apply -mx-40 w-[900px] max-w-none
    }
    .prose table td {
        @apply border-b border-gray-300;
    }
    .prose table td p {
        @apply mb-0
    }

    .prose table td p > p {
        @apply mb-4
    }
}
.filament-tiptap-grid-builder {
    @apply grid gap-4
}
a[data-as-button] {
    @apply inline-block rounded-lg px-4 py-2 text-white no-underline bg-green-600 hover:bg-green-700;
}
.filament-tiptap-grid .filament-tiptap-grid {
    @apply grid grid-flow-col mx-auto my-2 p-0 divide-x divide-pink-400
}



